<p-dialog header="New Project Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true" [closable]="false" [width]="500">
  <form #projectModalForm="ngForm" novalidate>
    <div class="ui-g ui-fluid" *ngIf="newProject">
      <div class="ui-g-4"><label for="name">Name</label></div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="newProject.Name" name="name" #name="ngModel" required />
      </div>

      <div class="ui-g-4"><label for="name">Start Date</label></div>
      <div class="ui-g-8">
        <p-calendar name="startDate" id="startDate" #startDate="ngModel" required
                    [(ngModel)]="StartDate"
                    dateFormat="dd.mm.yy"></p-calendar>
        <div [hidden]="(startDate.untouched)
                      || (StartDate < EndDate)"
             class="alert-danger">
          'Start Date' should be larger than 'End Date'
        </div>
      </div>

      <div class="ui-g-4"><label for="name">End Date</label></div>
      <div class="ui-g-8">
        <p-calendar name="endDate" id="endDate" #endDate="ngModel"
                    [(ngModel)]="EndDate"
                    dateFormat="dd.mm.yy"></p-calendar>
        <div [hidden]="(endDate.untouched)
                      || (StartDate < EndDate)" class="alert-danger">
            'End Date' should be smaller than 'Start Date'
        </div>
      </div>

      <div class="ui-g-4"><label for="description">Description</label></div>
      <div class="ui-g-8">
        <input pInputText id="description" name="description"
               [(ngModel)]="newProject.Description" #description="ngModel" required />
      </div>

      <div class="ui-g-4"><label for="customerName">CustomerName</label></div>
      <div class="ui-g-8">
        <input pInputText id="customerName" name="customerName"
               [(ngModel)]="newProject.CustomerName" #customerName="ngModel" required />
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-ban" (click)="cancel()" label="Cancel"></button>
      <button type="submit" pButton icon="fa-check" (click)="save()" label="Save"
              [disabled]="!(projectModalForm.form.valid
                          && (StartDate < EndDate))"></button>
    </div>


  </p-footer>

</p-dialog>
