ul li {
  display: inline-block;
}
button{
  min-width: 110px;
}
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
.navbar-nav{
  flex-direction: row;
  padding-left: 12px;
}
.navbar a{
  color: rgba(0,0,0,.5);
}
li.nav-item {
  padding-left: 12px;
  padding-right: 12px;
}
li.nav-item.active{
  background-color: lightgray !important;
  border-radius: 2px;
}
.navbar-text{
  color: rgba(0,0,0,.9);
}
.button-logout{
  color: rgba(0,0,0,.5);
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: block;
  padding: .5rem 1rem;
  cursor: pointer;
}

