<p-dialog header="New Project Details (with Reactive Forms)"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true" [closable]="false" [width]="500">

  <form [formGroup]="newAdminProjectForm" (submit)="save()">
    <div class="ui-g ui-fluid">
      <div class="ui-g-4"><label for="name">Name</label></div>
      <div class="ui-g-8">
        <input pInputText id="name" formControlName="name" />
      </div>

      <div class="ui-g-4"><label for="startDate">Start Date</label></div>
      <div class="ui-g-8">
        <p-calendar formControlName="startDate" id="startDate"
                    dateFormat="dd.mm.yy"></p-calendar>
        <div [hidden]="newAdminProjectForm.controls['startDate'].pristine
                      || newAdminProjectForm.controls['endDate'].pristine
                      || (newAdminProjectForm.controls['startDate'].value < newAdminProjectForm.controls['endDate'].value)"
             class="alert-danger">
          'Start Date' should be before 'End Date'
        </div>
      </div>

      <div class="ui-g-4"><label for="endDate">End Date</label></div>
      <div class="ui-g-8">
        <p-calendar formControlName="endDate" id="endDate"
                    dateFormat="dd.mm.yy"></p-calendar>
        <div [hidden]="newAdminProjectForm.controls['endDate'].pristine
                      || newAdminProjectForm.controls['startDate'].pristine
                      || (newAdminProjectForm.controls['startDate'].value < newAdminProjectForm.controls['endDate'].value)"
             class="alert-danger">
          'End Date' should be after 'Start Date'
        </div>
      </div>

      <div class="ui-g-4"><label for="description">Description</label></div>
      <div class="ui-g-8">
        <input pInputText id="description" formControlName="description" />
        <div class="alert-danger" *ngIf="isControlInvalid('description')">
          Name must contain only eng/rus letters and numbers
        </div>
      </div>

      <div class="ui-g-4"><label for="customerName">CustomerName</label></div>
      <div class="ui-g-8">
        <input pInputText id="customerName" formControlName="customerName" />
      </div>

    </div>
  </form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-ban" (click)="cancel()" label="Cancel"></button>
      <button type="submit" pButton icon="fa-check" (click)="save()" label="Save"
              [disabled]="!(newAdminProjectForm.valid
                        && (newAdminProjectForm.controls['startDate'].value < newAdminProjectForm.controls['endDate'].value))"></button>
    </div>


  </p-footer>

</p-dialog>
